html {
  background-color: black;

  font-family: "Arial", sans-serif;
  font-weight: bold;


  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

a {
	-webkit-text-fill-color: #4C7DEE;
}			