html {
  font-family: "Andale Mono";
}

h2 {
	font-size: 2.3em;

	position: absolute;
	top: 72px;
	left: 68px;

/*	font-size: 1.4em;

	position: absolute;
	top: 59px;
	left: 34px;*/
}

h4 {
	font-size: 2em;

	position: absolute;
	top: 262px;
	left: 68px;

	display: inline;
  width: 520px;

/*	font-size: 1.2em;

	position: absolute;
	top: 180px;
	left: 34px;

	display: inline-block;
  width: 300px;
  height: 158px;*/
}

h5 {
	font-size: .75em;
}

.menu {
	font-size: 1.5em;

  list-style: none;

	position: absolute;
	top: 630px;
	left: 68px;
}

.menu li {
  display: inline-block;
  
  margin-right: 90px;
  line-height: 2em;
}

.email {
	font-family: "Helvetica";
	font-size: 1em;

	text-decoration: none;
	color: inherit;

	position: absolute;
	top: 1200px;
	left: 950px;

	padding-bottom: 20px;
}

.front {
	position: absolute;
	top: 150px;
	left: 25px;
}

.front-copy {
	position: absolute;
	top: 140px;
	left: 125px;
}

.back {
	position: absolute;
	top: 265px;
	left: 25px;
}

.back-copy {
	position: absolute;
	top: 255px;
	left: 125px;
}

.other {
	font-size: 1em;

  list-style: none;

	text-decoration: underline;
	color: inherit;

	position: absolute;
	top: 140px;
	left: 20px;
}

.other li, a {
	font-size: 1em;

  list-style: none;

	text-decoration: underline;
	color: inherit;
}

.avail {
	position: absolute;
	top: 180px;
	left: 0px;
}

.avail-copy {
	font-size: 1em;
	position: absolute;
	top: 140px;
	left: 45px;
}