html {
  font-family: "Andale Mono";
}

h2 {
	font-size: 2.3em;

	position: absolute;
	top: 72px;
	left: 68px;

/*	font-size: 1.4em;

	position: absolute;
	top: 59px;
	left: 34px;*/
}

h4 {
	font-size: 2em;

	position: absolute;
	top: 262px;
	left: 68px;

	display: inline;
  width: 520px;
  height: 199px;

/*	font-size: 1.2em;

	position: absolute;
	top: 180px;
	left: 34px;

	display: inline-block;
  width: 300px;
  height: 158px;*/
}

nav {
	font-size: 1.5em;

  list-style: none;

	position: absolute;
	top: 630px;
	left: 68px;
}

li {
  display: inline-block;
  
  margin-right: 90px;
  line-height: 2em;
}