html {
  background-color: black;

  font-family: "Arial Bold", sans-serif;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}