html {
  font-family: "Andale Mono";
}

h2 {
	font-size: 2.5em;

	position: absolute;
	top: 86px;
	left: 68px;

/*	font-size: 1.4em;

	position: absolute;
	top: 59px;
	left: 34px;*/
}

h4 {
	font-size: 2em;

	position: absolute;
	top: 282px;
	left: 68px;

	display: inline-block;
  width: 520px;
  height: 199px;

/*	font-size: 1.2em;

	position: absolute;
	top: 180px;
	left: 34px;

	display: inline-block;
  width: 300px;
  height: 158px;*/
}

canvas {
	top: 75;
	left: 984;
}