html {
  background-color: black;

  font-family: "Arial", sans-serif;
  font-weight: bold;


  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

@media screen 
and (min-width: 300px) 
and (max-width: 900px)
and (-webkit-min-device-pixel-ratio: 3) 
and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

