@font-face {
	font-family: 'Andale Mono';
	src: url('../assets/andalemo.ttf') format('truetype');
}

html {
  font-family: 'Andale Mono';
}

@media screen 
  and (min-device-width: 600px) 
  and (max-device-width: 8000px) {

	canvas {
		position: absolute;

		top: -200px;
		left: 580px;
	}

	.name {
		font-size: 2.3em;

		position: absolute;
		top: 72px;
		left: 68px;
	}

	.about {
		font-size: 2em;

		position: absolute;
		top: 262px;
		left: 68px;

		display: inline;
	  width: 520px;
	}

	.menu {
		font-size: 1.5em;

	  list-style: none;

		position: absolute;
		top: 630px;
		left: 68px;
	}

	.menu li {
	  display: inline-block;
	  
	  margin-right: 90px;
	  line-height: 2em;
	}

	.email {
		font-family: "Helvetica";
		font-size: 1em;

		text-decoration: none;
		color: inherit;

	  position: absolute;
	  top: 1180px;
	  left: 820px;

	  padding-bottom: 59px;
	}

	.front {
		position: absolute;
		top: 145px;
		left: 25px;
	}

	.front-copy {
		font-size: .8em;

		position: absolute;
		top: 144px;
		left: 125px;
	}

	.back {
		position: absolute;
		top: 260px;
		left: 25px;
	}

	.back-copy {
		font-size: .8em;

		position: absolute;
		top: 259px;
		left: 125px;
	}

	.design {
		position: absolute;
		top: 375px;
		left: 25px;
	}

	.design-copy {
		font-size: .8em;

		position: absolute;
		top: 372px;
		left: 125px;
	}

	.other {
		font-size: 1em;

	  list-style: none;

		text-decoration: underline;
		color: inherit;

		width: 50px;

		position: absolute;
		top: 140px;
		left: 20px;
	}

	.other li, a {
		font-size: .95em;

	  list-style: none;

		text-decoration: underline;
		color: inherit;
	}

	.underline {
	  border-bottom-width: .1em;
	  border-bottom-style: solid;
	  line-height: 2em;
	}

}

@media screen 
  and (min-device-width: 280px) 
  and (max-device-width: 600px) {
		canvas {
			position: absolute;

			top: -70px;
			left: 400px;

			min-width: 0;
		}

		.name {
			font-size: 3.5em;

			position: absolute;
			top: 90px;
			left: 100px;

			width: 500px;
		}

		.about {
			font-size: 3.2em;

			position: absolute;
			top: 400px;
			left: 100px;

			display: inline;
		  width: 720px;
		}

		.menu {
			font-size: 2.75em;

		  list-style: none;

		  width: 800px;

			position: absolute;
			top: 950px;
			left: 100px;
		}

		.menu li {
		  display: inline-block;
		  
		  margin-right: 160px;
		  line-height: 2em;
		}

		.email {
			font-family: "Helvetica";
			font-size: 2em;

			text-decoration: none;
			color: inherit;

		  position: absolute;
		  top: 1800px;
		  left: 700px;

		  padding-bottom: 50px;
		}

		.front {
			position: absolute;
			top: 230px;
			left: 65px;

			width: 11%;
		}

		.front-copy {
			font-size: .75em;

			position: absolute;
			top: 230px;
			left: 230px;
		}

		.back {
			position: absolute;
			top: 440px;
			left: 65px;

			width: 11%;
		}

		.back-copy {
			font-size: .75em;

			position: absolute;
			top: 440px;
			left: 230px;
		}

		.design {
			position: absolute;
			top: 640px;
			left: 65px;

			width: 15%;
		}
	
		.design-copy {
			font-size: .75em;
	
			position: absolute;
			top: 640px;
			left: 230px;
		}

		.other {
			font-size: .9em;

		  list-style: none;

			text-decoration: underline;
			color: inherit;

			width: 200px;

			position: absolute;
			top: 240px;
			left: 65px;
		}

		.other li, a {

		  list-style: none;

			text-decoration: underline;
			color: inherit;
		}

		.underline {
		  border-bottom-width: .05em;
		  border-bottom-style: solid;
		  line-height: 2em;
		}

  }