/* laptops, monitors */
@media screen 
  and (min-device-width: 750px) 
  and (max-device-width: 8000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
		.nav {
		  display: flex;
		  justify-content: space-evenly;
		  align-items: center;

			font-size: calc(1em + 3vmin);
			text-decoration: none;

			border-top: 30px solid transparent;
			border-bottom: 10px solid transparent;
		}

		.inactive {
			-webkit-text-fill-color: white;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}

		.active {
			-webkit-text-fill-color: transparent;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}

		.work {
			width: 350px; 
			height: 350px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 2em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
		.contact {
			width: 350px; 
			height: 350px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 2em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
	}

/* iPhone X */
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 897px) 
  and (-webkit-min-device-pixel-ratio: 3) {
		.nav {
		  display: flex;
		  justify-content: space-evenly;
		  align-items: center;

			font-size: 2em;
			text-decoration: none;

			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}

		.inactive {
			-webkit-text-fill-color: white;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}
		.active {
			-webkit-text-fill-color: transparent;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}
		.work {
			width: 200px; 
			height: 200px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
		.contact {
			width: 200px; 
			height: 200px;
			
			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
	}

/* Lower pixel ratio */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2) {
		.nav {
		  display: flex;
		  justify-content: space-evenly;
		  align-items: center;

			font-size: 2em;
			text-decoration: none;

			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}

		.inactive {
			-webkit-text-fill-color: white;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}

		.active {
			-webkit-text-fill-color: transparent;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}
		.work {
			width: 200px; 
			height: 200px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
		.contact {
			width: 200px; 
			height: 200px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
	}

/* Lowest pixel ratio */
@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 330px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)  {
		.nav {
		  display: flex;
		  justify-content: space-evenly;
		  align-items: center;

			font-size: 1.5em;
			text-decoration: none;

			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}

		.inactive {
			-webkit-text-fill-color: white;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}

		.active {
			-webkit-text-fill-color: transparent;
		  -webkit-text-stroke-color: white;
		  -webkit-text-stroke-width: 1px;

		  text-decoration: none;
		}
		.work {
			width: 200px; 
			height: 200px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
		.contact {
			width: 200px; 
			height: 200px;

			position: absolute;
		  top: 35%;
		  left: 50%;

		  font-family: "Arial", sans-serif;
		  font-weight: 100;

		  transform: translate(-50%);

			font-size: 1em;

			-webkit-text-fill-color: #F6F9FF;

		  text-decoration: none;
		}
	}