/* laptops */
@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 600px;
			width: 450px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* iPad Pro 10.5" */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* iPad Pro 12.9" */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* big screens, monitors */
@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 8000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
  }

/* pixel-ratio: 3 */
@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* pixel-ratio: 2 */
@media screen 
  and (min-device-width: 330px) 
  and (max-device-width: 420px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* for Demir */
@media screen 
	and (min-device-width: 300px) 
	and (max-device-width: 330px) 
	and (-webkit-min-device-pixel-ratio: 2) {
		.button {
			-webkit-appearance:none;
			background: transparent;
	  	border: none;
	  	outline:none;

			height: 360px;
			width: 270px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
	}