/* laptops */
@media only screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 600px;
			width: 450px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* iPad Pro 10.5" */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* iPad Pro 12.9" */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
}

/* big screens, monitors */
@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 8000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
  }

/* iPhone X */
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* iPhone 6, 7, 8 */
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* iPhone X */
@media screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* for Demir */
@media screen 
	and (min-device-width: 300px) 
	and (max-device-width: 330px) 
	and (-webkit-min-device-pixel-ratio: 2) {
		.button {
			-webkit-appearance:none;
			background: transparent;
	  	border: none;
	  	outline:none;

			height: 360px;
			width: 270px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
	}

	/*
		LANDSCAPE
						*/

/* iPhone X */
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (orientation: landscape)  
  and (-webkit-min-device-pixel-ratio: 3) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 280px;
			width: 210px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* iPhone 6, 7, 8 */
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 240px;
			width: 180px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
	}

/* iPhone 11 Pro Max */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 280px;
			width: 210px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
  }

/* Responsive */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.button {
			-webkit-appearance:none;
			background: transparent;
    	border: none;
    	outline:none;

			height: 280px;
			width: 210px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		} 	
  }