@media screen 
  and (min-device-width: 500px) 
  and (max-device-width: 8000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.button {
			-webkit-appearance:none;

			height: 720px;
			width: 540px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
  }

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  	.button {
			-webkit-appearance:none;

			height: 400px;
			width: 300px;

			display: block;

			margin-left: auto;
			margin-right: auto;
		}
  	
  }