img {
	object-fit: cover;
	width: 180px;
	height: 180px;
}

/* grid layout */

.item-a {
	grid-area: a;
}

.item-b {
	grid-area: b;
}

.item-c {
	grid-area: c;
}

.container {
	display: grid;

	height: 540px;
	width: 540px;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-row-gap: 0px;
	grid-column-gap: 0px;

	grid-template-areas: 
		"a b c";
}
