.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.container canvas, #overlay {
  position: absolute;
}

canvas {
  image-rendering: crisp-edges;
}

/* grid layout */

.item-a {
	grid-area: item-a;
	object-fit: cover;
}

.item-b {
	grid-area: item-b;
}

.item-c {
	grid-area: item-c;
}

.container {
	display: grid;

	height: 125px;
	width: 125px;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-row-gap: 0px;
	grid-column-gap: 0px;

	grid-template-areas: 
		"item-a item-b item-c";
}
