/* laptops, monitors */
@media screen 
  and (min-device-width: 500px) 
  and (max-device-width: 8000px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.outside {
  		min-height: 600px;
			min-width: 600px;

  		position: relative;
		  top: 20%;
		  left: 50%;

		  z-index: 0;

		  transform: translate(-50%);
  	}
  	.popUp {
			position: absolute;
		  top: 15%;
		  left: 50%;

		  z-index: 2;

		  transform: translate(-50%);
  	}
  	.forPopUpImg {
  		object-fit: cover;

			height: 700px;
			width: 520px;
		}
		.perImage {
			object-fit: cover;

			height: 178px;
			width: 178px;

			border: 1px solid black;
		}

  	.item-a {
			grid-area: a;
		}

		.item-b {
			grid-area: b;
		}

		.item-c {
			grid-area: c;
		}

		.container {
			display: grid;

			z-index: 1;

			position: absolute;
		  top: 15%;
		  left: 50%;

		  transform: translate(-50%);

			grid-template: repeat(minmax(100px, 1fr)) / repeat(minmax(100px, 1fr));
			grid-row-gap: 0px;
			grid-column-gap: 0px;

			grid-template-areas: 
				"a b c";
		}
}

/* iPhone X */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  	.outside {
  		min-height: 800px;
			min-width: 375px;

  		position: absolute;
		  top: 5%;
		  left: 50%;

		  z-index: 0;

		  transform: translate(-50%);
  	}
  	.popUp {
			position: absolute;
		  top: 15%;
		  left: 50%;

		  z-index: 2;

		  transform: translate(-50%);
  	}
  	.forPopUpImg {
  		object-fit: cover;

			height: 380px;
			width: 280px;
		}
		.perImage {
			object-fit: cover;

			height: 98px;
			width: 98px;

			border: 1px solid black;
		}

		.item-a {
			grid-area: a;
		}

		.item-b {
			grid-area: b;
		}

		.item-c {
			grid-area: c;
		}

		.container {
			display: grid;

			z-index: 1;

			position: absolute;
		  top: 15%;
		  left: 50%;

		  transform: translate(-50%);

			width: 300px;

			grid-template: repeat(minmax(100px, 1fr)) / repeat(minmax(100px, 1fr));
			grid-row-gap: 0px;
			grid-column-gap: 0px;

			grid-template-areas: 
				"a b c";
		}
}