img {
	max-width: 125px;
	max-height: 125px;
}

.item-a {
	grid-area: item-a;
}

.item-b {
	grid-area: item-b;
}

.item-c {
	grid-area: item-c;
}

.container {
	display: grid;

	height: 125px;
	width: 125px;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-row-gap: 0px;
	grid-column-gap: 0px;

	grid-template-areas: 
		"item-a item-b item-c";
}